main {
  background-color: #FCF7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  padding: 40px;
  font-size: 25px;
}

.first {
  width: 100%;
}

.block-1 {
  display: flex;
  flex-direction: column;
  background-image: url("../images/pizza-main.jpg");
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 150px;
}

.centered-heading {
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 200px;
  font-size: 50px;
}

.subheading {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin-top: 15px;
  text-decoration: none;
}

.mbc {
  text-align: center;
}

.red-button {
  justify-content: center;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  align-items: center;
  background-color: red;
  color: #fff;
  border-radius: 12px;
  padding: 14px 22px;
  margin-top: 44px;
  transition: color 1s linear, background-color 0.3s linear;
}

.red-button:hover {
  background-color: rgb(255, 135, 70);
}

.block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.block-2 figure {
  flex: 1 1 100%;
  margin: 10px;
}


/* Стили для информации с XML (Почему стоит выбрать Kaori Mau?) */

#article h1 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

#article p {
  margin-top: 18px;
  font-size: 16px;
  color: green;
}

/* -------------------------------- */

.two-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-images img {
  width: 500px;
  height: 500px;
  border-radius: 12px;
}

.two-images figure {
  display: flex;
  flex-direction: column;
  align-items: center;

}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .two-images img {
    width: 430px;
    height: 430px;
  }
  .two-images {
    align-items: flex-start;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .two-images img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
  .two-images {
      flex-wrap: wrap;
  }

  .block-3 figure {
      display: flex;
      justify-content: center;
  }

  .block-3 figure figcaption {
      align-items: center;
      justify-content: center;
  }
  .pp1,
  .pp2 {
    flex-wrap: wrap;
  }
  .two-images img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
  .two-images img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 300px;
  }
  .block-3 figure figcaption {
    font-size: 25px;
  }
  .bts {
    font-size: 14px !important;
  }
  .block-3 img {
    width: 300px !important;
    height: 300px !important;
  }
  .centered-heading {
      margin-top: 20%;
  }
  .centered-heading {
    font-size: 20px;
  }
  .two-images img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
  }
}


.figcaption-block-2 p {
  margin: 0px;
}

figure:first-child {
  font-size: 18px;
}

figure:nth-child(2) {
  font-size: 18px;
}

.figsecond {
  color: #9C4F4A;
  font-size: 16px;
}

.block-3 {
  height: auto;
}

.popular-pizzas {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.btf {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}

.bts {
  font-size: 18px;
  margin-top: 30px;
}

.block-3 img {
  width: 400px;
  height: 400px;
  border-radius: 12px;
}

.pp1,
.pp2 {
  margin-top: 20px;
  display: flex;
}

footer img {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: end;
}