
main {
  background-color: #FCF7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  padding: 40px;
  font-size: 25px;
  width: fit-content;
}

.block-1 {
  background-image: url("pizza-main-1.jpg");
  margin-top: 30px;
  height: 480px;
  width: 1024px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.centered-heading {
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 200px;
  font-size: 50px;
}


.subheading {
  text-align: center;
  color:#ffffff;
  font-size: 16px;
  margin-top: 15px;
  text-decoration: none;
}


.mbc {
  text-align: center;
}


.red-button {
  justify-content: center;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  align-items: center;
  background-color: red;
  color: #fff;
  border-radius: 12px;
  padding: 14px 22px;
  margin-top: 44px;
  transition: color 1s linear;
  transition: background-color 0.3s linear;
}

.red-button:hover {
  background-color:rgb(255, 135, 70);
}





.block-2 {
  width: 1024px;
  height: 629px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.block-2 figure {
  flex: 1 1 50%;
  margin: 10px;
}

/* Стили для информации с XML */

#article h1 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

#article p {
  margin-top: 18px;
  font-size: 16px;
  color: green;
}

/* --------------------------- */


.two-images {
  display: flex;
}

.two-images img {
  width: 458px;
  height: 341px;
  border-radius: 12px;
}

.figcaption-block-2 p {
  margin: 0px;
}

figure:first-child {
  font-size: 18px;
}

figure:nth-child(2) {
  font-size: 18px;
}

.figsecond {
  color: #9C4F4A;
  font-size: 16px;
}






.block-3 {
  width: 1024px;
  height: 800px;
}

.popular-pizzas {
  font-size:36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.btf {
  font-size: 36px;
  font-weight: bold;
  margin-top:10px;
}

.bts {
  font-size: 18px;
  margin-top: 30px;
}


.block-3 img {
  width: 366px;
  height: 366px;
  border-radius: 12px;
}

.pp1 {
  margin-top: 20px;
  display: flex;
}

.pp2 {
  margin-top: 20px;
  display: flex;
}





@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }  
  .cell {
      width: 100%;
  }
}

@media (max-width: 1280px) {
  figure {
      width: 100%;
  }
}


