main {
  background-color: #FCF7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  padding: 40px;
  font-size: 25px;
  width: fit-content;
}




.block-1 {

  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url("pizza-menu.jpg");
  margin-top: 30px;
  height: 480px;
  width: 928px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}


.block-1-menu {
  font-size: 48px;
  color: #fff;
}

.block-1-submenu {
  font-size: 16px;
  color: #fff;
  line-height: 25px;
  margin-top: 25px;
}



.search-block {
  display: flex;
  background-color: #FCF7F7;
  border-radius: 12px;
  height: 64px;
  width: 480px;

  align-items: center;
  margin-top: 40px;
}

.search-block img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.search-field {
  background-color: #FCF7F7;
  width: 260px;
  height: 30px;
  border: 0px;
  margin-left: 10px;
}



.search-field::placeholder {
  color: #9C4F4A;
}



.search-button {
  background-color: red;
  font-size: 16px;
  border-radius: 12px;
  width: 128px;
  height: 48px;
  color: #fff;
  border: 0px;
  margin-right: 10px;
  margin-left: 43px;
  letter-spacing: 1px;
}






.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  
}




.modal-content {
  display: flex;
  background: url("modal-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #888;
  width: 67%;
  height: 55%;
  transform: translateY(30%);
  border-radius: 20px;
  color: #fff;
}

.modal-img-center {
  display: flex;
  align-items: center;
}

#modal-image {
  width: 500px;
  height: 500px;
  margin-left: 1%;
}


.close {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  align-items: end;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.modal-text h2 {
  font-size: 40px;
  margin-bottom: 10px;
}


#modal-price {
  font-size: 20px;
  margin-bottom: 30px;
  color: #f6695f;
  font-weight: 700;
}


#modal-description {
  line-height: 35px;
  font-size: 20px;
}





.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}







.block-2 {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  /* align-items: center; */
  font-size: 16px;
  font-weight: bold;
}

.block-2 figure {
  margin: 15px 13px;
  cursor: pointer;
}

.block-2 img {
  width: 176px;
  height: 176px;
}

.block-2 figcaption {
  margin-left: 7px;
}

.block-2 figcaption {
  margin-bottom: 4px;
}

.menu-pizzas-text {
  font-weight: bold;
  font-size: 40px;
  text-align: start;
  margin-top: 30px;
  margin-bottom: -15px;
}










.block-3 {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.block-3 figure {
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.block-3 figcaption {
  margin-left: 22px;
}

.block-3 img {
  width: 320px;
  height: 270px;
  border-radius: 12px;
}







.block-4 {
  margin-top: 20px;
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}


.block-4 figure {
  margin-bottom: 20px;
  margin-right: 25px;
  cursor: pointer;
}


.block-4 figcaption {
  margin-left: 22px;
}

.block-4 img {
  width: 250px;
  height: 250px;
}








.block-5 {
  margin-top: 20px;
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;

}


.block-5 figure {
  margin-bottom: 30px;
  margin-right: 25px;
  cursor: pointer;
}


.block-5 figcaption {
  margin-left: 22px;
}

.block-5 figcaption:nth-child(2) {
  font-weight: bold;
}

.block-5 figcaption:nth-child(3) {
  font-weight: bold;
}

.block-5 figcaption:nth-child(4) {
  color: #9C4F4A;
  font-size: 14px;
}

.block-5 img {
  width: 176px;
  height: 176px;
}






















/* @media (max-width: 768px) {
  .container {
      flex-direction: column;
  }  
  .cell {
      width: 100%;
  }
}

@media (max-width: 1280px) {
  figure {
      width: 100%;
  }
} */
